.git
.gitignore
.editorconfig
.env
.env.backup
.env.production
node_modules
vendor
tests
storage/*.key
storage/logs/*.log
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
.phpunit.result.cache
